<div class="container grid--2col"> 
  <div class="l-2up--1">
    {% block twoUpFirst %}
    <div class="sg-placeholder">2up--1</div>
    {% endblock %}
  </div>
  
  <div class="l-2up--2">
    {% block twoUpSecond %}
    <div class="sg-placeholder">2up--2</div>
    {% endblock %}
  </div>
</div>
