<ul class="sidebar__ctas plain" style="max-width: 300px;">
  <li>
    <a href="#" style="background-image: url('../../../assets/imgs/production/placeholders/sidebar-cta-placeholder.jpg')" class="cta--yellow">
      <div class="cta__content">
        {% include "icon-book.svg" %}
        <h4>
          <span>More</span>
          Areas of Study
        </h4>
      </div>
      <div class="cta__arrow" >
{#         <img src="#" />
        <img src="#" /> #}
        {% include "arrow-right.svg" %}
        {% include "bottom-corner.svg" %}
      </div>
      <div class="cta__overlay"></div>
    </a>
  </li>
  <li>
    <a href="#" style="background-image: url('../../../assets/imgs/production/placeholders/sidebar-cta-placeholder.jpg')">
      <div class="cta__content">
        {% include "icon-book.svg" %}
        <h4>
          <span>More</span>
          Areas of Study
        </h4>
      </div>
      <div class="cta__arrow" >
{#         <img src="#" />
        <img src="#" /> #}
        {% include "arrow-right.svg" %}
        {% include "bottom-corner.svg" %}
      </div>
      <div class="cta__overlay"></div>
    </a>
  </li>
</ul>